{% load static %}
{% load group_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Custom fonts for this template-->
    

    <!-- Custom styles for this template-->
    
    <!-- Include Library styles before main.css for specific templates -->
    
    <!-- Include common stylesheets -->
    
    <!-- Include specific stylesheets from child templates -->
    
    <title>{% block title %}Sys 01{% endblock %}</title>
  </head>

  <body id="" class="">

    <div>
      <h1 style="font-size: 35px; text-align: center;">
        Your Company Header Here
      </h1>
    </div>
    <hr>
          
    {% block content %}
    {% endblock %}

    <!-- <hr>
    <div style="margin: 10px 0 30px; text-align: center;">
      Company Footer Here
    </div> -->

  </body>
</html>
