{% load static %}
{% load group_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    
    <!-- Custom styles for this template-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    
    <!-- Include Library styles before main.css for specific templates -->
    {% block styles_bmain %}
    {% endblock %}

    <!-- Include common stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <!-- Include specific stylesheets from child templates -->
    {% block styles %} 
    {% endblock %}

    <title>{% block title %}TSMB SYS 01{% endblock %}</title>
  </head>

  <body id="page-top" class="sidebar-toggled">
    <!-- Page Wrapper -->
    <div id="wrapper">
      
      

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->


          <nav class="navbar navbar-dark bg-primary navbar-expand-lg mb-4 shadow">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'profile' %}">
                <i class="fas fa-drafting-compass"></i>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                  {% if perms.employees.add_employee or perms.employees.change_employee or perms.employees.delete_employee or perms.employees.view_employee %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Employees
                    </a>
                    <ul class="dropdown-menu">
                      {% if perms.employees.view_employee %}
                        <li><a class="dropdown-item" href="{% url 'employees:employee-list' %}">List</a></li>
                      {% endif %}

                      {% if perms.employees.view_employee and perms.employees.add_employee and perms.employees.change_employee %}
                        <li><a class="dropdown-item" href="{% url 'employees:employee-create' %}">Create</a></li>
                      {% endif %}
                      
                    </ul>
                  </li>
                  {% endif %}

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Locations
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'locations:location-list' %}">List</a></li>
                      <li><a class="dropdown-item" href="{% url 'locations:location-create' %}">Create</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Items
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'items:item-list' %}">List</a></li>
                      <li><a class="dropdown-item" href="{% url 'items:item-create' %}">Create</a></li>

                      <li><a class="dropdown-item" href="{% url 'items:item-price-adjustment-list' %}">Price Adjustment List</a></li>
                      <li><a class="dropdown-item" href="{% url 'items:item-price-adjustment-create' %}">Create Price Adjustment</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Transacts
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'transacts:transact-list' %}">List</a></li>
                      <li><a class="dropdown-item" href="{% url 'transacts:transact-create' %}">Create</a></li>
                    </ul>
                  </li>

                  
                </ul>

                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-no-arrow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="mr-2 d-none d-lg-inline small">Hello, {{ user.get_username }}</span>
                      <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="{% url 'profile' %}">
                          <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                        </a>
                      </li>
                      
                      <li><hr class="dropdown-divider"></li>
                      
                      <li>
                        <form action="{% url 'logout' %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                          </button>
                        </form>
                      </li>
                      
                    </ul>
                  </li>
                </ul>

              </div>
            </div>
          </nav>



          {% if messages %} 
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %} 
          {% endif %} 
          


          {% block content %}
          {% endblock %}




        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center mt-3 mb-3">
              <span>TSMB SYS &copy; 2025~26</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->

    {% block scripts_bmain %}
    {% endblock %}

    <!-- Include common scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Include specific scripts from child templates -->
    {% block scripts %}
    {% endblock %}
  </body>
</html>
