{% extends "base.html" %} 
{% load static %} 
{% block title %}Transact Detail List{% endblock %} 
{% block styles_bmain %}
<link href="https://cdn.datatables.net/v/bs5/dt-2.1.8/fc-5.0.4/fh-4.0.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/datatables.min.css" rel="stylesheet">
{% endblock %} 
{% block styles %} 
{% endblock %} 
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Transact Details</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Transact Detail - List</h6>
        </div>




        <div class="card-body">


          <div>
            <h5>Date Range Filter</h5>
            <div class="align-items-center ms-3">
                <label class="me-2">From:</label>
                <input type="date" id="minDate" class="form-control form-control-sm">
                <label class="ms-2 me-2">To:</label>
                <input type="date" id="maxDate" class="form-control form-control-sm">
            </div>
          </div>


          <div class="mb-3">
            <div class="form-group">
              <br />
              <button type="button" class="btn btn-sm btn-secondary" id="resetFilters">
                Reset Filters
              </button>
            </div>
          </div>


          <div class="btn-controls">
            <h5>Export Controls</h5>

            <div class="row">
              <div class="col">
                <script type="text/javascript">
                  const csrfToken = "{{ csrf_token }}";
                </script>
                <button id="export-all-btn" class="btn btn-sm btn-primary">
                  Export: All Transact Records
                </button>
                <button
                  id="export-filtered-btn"
                  class="btn btn-sm btn-primary"
                >
                  Export: All Transact Records by Filter
                </button>
                <!-- <button
                  id="import-new-transact-btn"
                  class="btn btn-sm btn-primary"
                >
                  Import Insert: New transact Records
                </button>
                <button
                  id="import-update-transact-btn"
                  class="btn btn-sm btn-primary"
                >
                  Import Update: Existing Records
                </button> -->
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div id="loader" style="display: none" class="alert alert-info" role="alert">
                  <i class="fas fa-cog fa-spin"></i>
                  processing...
                </div>
                <div id="message" style="display: none" class="alert alert-info"></div>
                <a id="download-link" style="display: none"></a>
              </div>
            </div>

          </div> 
          



          


          <div class="table-responsive">
            <table id="dataTable" class="table table-sm table-striped table-hover">

              <thead>
                <tr>
                  <th>Transact ID</th>
                  <th>SI NO</th>
                  <th>Company</th>
                  <th>Date</th>
                  <th>Created By</th>
                  <th>Location</th>
                  <th>Item</th>
                  <th>PACKS/Unit</th>
                  <th>Weight</th>
                  <th>Convert to kg</th>
                  <th>Quantity</th>
                  <th>Delivered in kg</th>
                  <th>Price Posted</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>

          <div>
            <div class="row">
              <div class="col"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

{% endblock %} 
{% block scripts_bmain %}
<script src="https://cdn.datatables.net/v/bs5/dt-2.1.8/fc-5.0.4/fh-4.0.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/datatables.min.js"></script>
{% endblock %} 
{% block scripts %}
<script src="{% static 'js/transact_detail_list.js' %}"></script>
{% endblock %}
