{% extends "base.html" %}
{% block title %}Item Detail{% endblock %}
{% block content %}



  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Item</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Item Details</h6>
                </div>
                <div class="card-body">
                  <table class="table table-hover table-bordered">
                    <tr>
                      <th scope="row">Name:</th>
                      <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                      <th class="col-3" scope="row">Company:</th>
                      <td>{{object.company}}</td>
                    </tr>
                    <tr>
                      <th class="col-3" scope="row">Unit:</th>
                      <td>{{object.unit}}</td>
                    </tr>
                    <tr>
                      <th class="col-3" scope="row">Num/Unit:</th>
                      <td>{{object.num_per_unit}}</td>
                    </tr>
                    <tr>
                      <th class="col-3" scope="row">Weight:</th>
                      <td>{{object.weight}}</td>
                    </tr>
                    <tr>
                      <th class="col-3" scope="row">Conv to kg:</th>
                      <td>
                        {{ conv_to_kg }}
                      </td>
                    </tr>
                    <tr>
                      <th class="col-3" scope="row">Original Price:</th>
                      <td>{{object.price}}</td>
                    </tr>     
                  </table>
                
                  <div class="text-right">
                    <a class="btn btn-secondary" href="{% url 'items:item-update' object.pk %}">Edit Item</a> 
                    <a class="btn btn-secondary" href="{% url 'items:item-list' %}">Item List</a>
                  </div>
                
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-info">Future Section</h6>
                </div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique omnis exercitationem adipisci eos modi, dignissimos aut expedita, mollitia delectus nam ut repellendus a? Modi, laboriosam deleniti placeat iure deserunt molestias.
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>

  
{% endblock %}