{% extends "base.html" %} 
{% load static %} 
{% block title %}Item List{% endblock %} 
{% block styles_bmain %}
<link href="https://cdn.datatables.net/v/bs5/dt-2.1.8/fc-5.0.4/fh-4.0.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/datatables.min.css" rel="stylesheet">
{% endblock %} 
{% block styles %} 
{% endblock %} 
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Items</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Item - List</h6>
        </div>

        <div class="card-body">
          <div>
            <form>
              <div id="accordionDatatableFilter" class="mb-3">

                  <div class="row accordion">
                    <!-- filter company -->
                    <div class="card col-md">
                      <div
                        class="card-header accordion-button collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseDF1"
                      >
                        <h5 class="mb-0">
                          <button type="button" class="btn">
                            filter Company:
                          </button>
                        </h5>
                      </div>
                      <div id="collapseDF1" class="collapse">
                        <div class="card-body">
                          <input
                            type="checkbox"
                            name="chkCompany"
                            id="chkCompany-0"
                            value=""
                            class="btn-check"
                            customType="datatableFilter"
                          />
                          <label class="btn btn-sm" for="chkCompany-0"
                            >ALL</label
                          >
                          {% for company in companies %}
                          <input
                            type="checkbox"
                            name="chkCompany"
                            id="chkCompany-{{ forloop.counter }}"
                            value="{{ company.name }}"
                            class="btn-check"
                            customType="datatableFilter"
                          />
                          <label
                            class="btn btn-sm"
                            for="chkCompany-{{ forloop.counter }}"
                            >{{ company.name }}</label
                          >
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    <!-- filter unit -->
                    <div class="card col-md">
                      <div
                        class="card-header accordion-button collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseDF2"
                      >
                        <h5 class="mb-0">
                          <button type="button" class="btn">
                            filter Unit:
                          </button>
                        </h5>
                      </div>
                      <div id="collapseDF2" class="collapse">
                        <div class="card-body">
                          <input
                            type="checkbox"
                            name="chkUnit"
                            id="chkUnit-0"
                            value=""
                            class="btn-check"
                            customType="datatableFilter"
                          />
                          <label class="btn btn-sm" for="chkUnit-0"
                            >ALL</label
                          >
                          {% for unit in units %}
                          <input
                            type="checkbox"
                            name="chkUnit"
                            id="chkUnit-{{ forloop.counter }}"
                            value="{{ unit.name }}"
                            class="btn-check"
                            customType="datatableFilter"
                          />
                          <label
                            class="btn btn-sm"
                            for="chkUnit-{{ forloop.counter }}"
                            >{{ unit.name }}</label
                          >
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <br />
                        <button type="button" class="btn btn-sm btn-secondary" id="resetFilters">
                          Reset Filters
                        </button>
                      </div>
                    </div>
                  </div>

              </div>
            </form>
          </div>

          
          <div class="btn-controls">
            <h5>Export/Import Controls</h5>

            <div class="row">
              <div class="col">
                <script type="text/javascript">
                  const csrfToken = "{{ csrf_token }}";
                </script>
                <button id="export-all-btn" class="btn btn-sm btn-primary">
                  Export: All Item Records
                </button>
                <button
                  id="export-filtered-btn"
                  class="btn btn-sm btn-primary"
                >
                  Export: All Item Records by Filter
                </button>
                <button
                  id="import-new-item-btn"
                  class="btn btn-sm btn-primary"
                >
                  Import Insert: New Item Records
                </button>
                <button
                  id="import-update-item-btn"
                  class="btn btn-sm btn-primary"
                >
                  Import Update: Existing Records
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div id="loader" style="display: none" class="alert alert-info" role="alert">
                  <i class="fas fa-cog fa-spin"></i>
                  processing...
                </div>
                <div id="message" style="display: none" class="alert alert-info"></div>
                <a id="download-link" style="display: none"></a>
              </div>
            </div>

          </div> 
         

          <div class="table-responsive">
            <table id="dataTable" class="table table-sm table-striped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Unit</th>
                  <th>Packs/Case</th>
                  <th>Weight</th>
                  <th>Conv to kg</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>

          <div>
            <div class="row">
              <div class="col"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

{% endblock %} 
{% block scripts_bmain %}
<script src="https://cdn.datatables.net/v/bs5/dt-2.1.8/fc-5.0.4/fh-4.0.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/datatables.min.js"></script>
{% endblock %} 
{% block scripts %}
<script src="{% static 'js/item_list.js' %}"></script>
{% endblock %}
